body {
  margin: 0px;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  padding:0 0;
}
li{
  list-style: none;
}

.container{
  padding: 20px 15px;
  margin: 0 auto;
}

.top-title{
  border-bottom: solid 1px grey;
  font-family:serif;
  font-size:30px;
  letter-spacing:5px;
}
.top-title a{
  display: block;
  text-align: center;
  border-bottom: solid 1px grey;
}

.meigen a{
  transition: 1.5s;
  border-radius: 3px;
  color:black;
  font-family:serif;
}

.meigen a:hover{
  background-color:#c1c1c1;
}

.middle-contents a{
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
}
.middle-contents p{
  display:block;
  text-align: center;
  font-size:15px;
}
.middle-contents li{
  padding:20px 15px;
}

.blank1{
  height:200px;
  width:100%;
  border-bottom: solid 1px grey;
}

.blank2{
  height:50px;
  width:100%;
}
.buttoms{
  display:flex;
  justify-content: center;
}
.buttoms a{
  color: black;
  display:block;
  width:100%;
}
.buttoms li{
  padding:0 10px;
  cursor:pointer;
  border-radius: 3px;
  transition: 1.0s;
}
.buttom:hover{
  background-color: #c1c1c1;
}
.buttom_active{
  background-color: #c1c1c1;
}
